/** concept page */ 

.video-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
}

.video-intro__page-name {
    margin-top: 115px;
    padding: 1.6rem 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: $light;
    background-color: $deep-blue;
}

.video-intro__title {
    margin-top: 40px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.25;
    color: $light;
}

.video-intro__paragraph {
    margin-top: 80px;
    width: 700px;
    height: 68px;
    text-align: center;
    font-size: 16px;
    line-height: 1.63;
    color: $light;
}

.video-intro__button {
    margin-top: 80px;
}

.video-intro__player {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

/** description-project */

.description-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to left, $azure-blue, $deep-blue 50%, $cobalt-blue);
}

.description-project__txt {
    align-self: center;
    width: 60%;
}

.description-project__paragraph {
    margin-top: 60px;    
    font-size: 30px;
    font-weight: 500;
    line-height: 2;
    color: $light;
}

.description-project__title {
    font-size: 14px;
    font-weight: bold;
    line-height: 4.29;
    letter-spacing: 1.4px;
    text-align: left;
    color: $jordy-blue;
}



