.header {
  z-index: 1;
  width: 100vw;
  box-shadow: $main-shadow;
  background-color: $light;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.header__logo {
  flex: 2;

  img {
    width: 30px;
  }
}

.header__menu {
  flex: 1;
  margin-left: auto;
}

.header__menu ul {
  display: flex;
  justify-content: space-between;
}
