@import "components/_reset.scss";
@import "components/_colors.scss";
@import "components/_fonts.scss";
@import "components/_buttons.scss";
@import "partials/_header.scss";
@import "partials/_concept.scss";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.clear {
  clear: both;
}