body {
    overflow-x: hidden;
}

/** concept page */ 

.video-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80rem;
    background-color: transparent;
}

.video-intro__page-name {
    margin-top: 11.5rem;
    padding: 1.6rem 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: $light;
    background-color: $deep-blue;
    opacity: 1;
    will-change: opacity;
}

.video-intro__title {
    margin-top: 4rem;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.25;
    color: $light;
    opacity: 1;
    will-change: opacity;
    text-align: center;

    @media (min-width: $xs) {
        font-size: 48px;
    }
}

.video-intro__paragraph {
    margin-top: 8rem;
    text-align: center;
    width: 95%;
    font-size: 14px;
    line-height: 1.63;
    color: $light;
    opacity: 1;
    will-change: opacity;

    @media (min-width: $sm) {
        width: 70rem;
        height: 6.8rem;
    }   
}

.video-intro__button {
    position: relative;
    margin-top: 8rem;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 100%;
    background-color: $deep-blue;
    opacity: 1;
    will-change: opacity;
}

.video-intro__page-name, .video-intro__title, .video-intro__paragraph, .video-intro__button {
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.video-intro__button:hover {
  cursor: pointer;
}

.video-intro__button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  transform: translate(-50%, -50%);
}

.video-intro__player video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}

.video-intro__bg {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
    height: 80rem;
    background: url('../img/concept-bkg.jpg') no-repeat;
    background-size: cover;
}

.video-intro__fade-effect {
    position: absolute;
    width: 100%;
    height: 80rem;
    background-color: $dark;
    opacity: 0.6;
    z-index: -1;
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
} 

.video-intro__fade-effect.active {
    cursor: pointer;
    opacity: 0.2;
    z-index: 10;
}

/** description-project */

.description-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 14rem 0 14rem 0;
    background-image: linear-gradient(to left, $azure-blue, $deep-blue 50%, $cobalt-blue);
}

.description-project__txt {
  align-self: center;
  width: 60%;
}

.description-project__paragraph {
    margin-top: 6rem;    
    font-size: 20px;
    font-weight: normal;
    color: $light;

    @media (min-width: $xs) {
        font-size: 30px;
        line-height: 2;
    }   
}

.description-project__title {
  text-align: left;
  line-height: 2;
  letter-spacing: 1.4px;
  color: $jordy-blue;
  font-size: 14px;
  font-weight: bold;
}

/** List sports */

.list-sports {
    width: 100%;
    height: auto;
    padding: 8rem 0 11rem 0;
    background-color: $palegrey;
}

.list-sports__title {
    font-family: Circular;
    font-size: 14px;
    font-weight: 500;
    line-height: 4.29;
    letter-spacing: 1.4px;
    text-align: center;
    color: #8c8c8c;
}

.list-sports__text {
    font-family: Circular;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #000000;
}

.list-sports__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;
    margin-top: 10rem;
    justify-content: center;
}

.list-sports__item {
    position: relative;
    margin: 0 0.5rem 1rem 0.5rem;
    cursor: pointer;
}

.list-sports__item img {
    width: 22.4rem;
    height: 16.8rem;
    max-width: 22.4rem;
    max-height: 16.8rem;
    object-fit: cover;
}

.list-sports__item:hover .list-sports__fade {
    opacity: 0.1;
}

.item__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    color: $light;
}

.list-sports__item:hover .item__fade {
    background-image: linear-gradient(to left, $azure-blue, $deep-blue 50%, $cobalt-blue);
}
.item__fade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -0.3rem;
    width: 22.4rem;
    height: 16.8rem;
    background-color: $dark;   
    opacity: 0.5;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

/** sites section */

.sites {
    width: 100%;
    height: auto;
    padding: 8rem 0 12rem 0;
    background-color: $light2;
}

.sites__title {
    height: 10px;
    font-family: Circular;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-align: center;
    color: $deep-blue;
}

/** Slider section */

.slider-concept {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;

  .slider__controllers {
    .controllers__tiles {
      left: 50%;
      bottom: 10%;
      transform: translate(-50%);
      .tile {
        background: $warm-grey;
      }
    }
  }

  .slider__slide {
    width: 50%;
    transform: scale(.8);
    opacity: .8;
    transition: all .3s ease-in-out;
    &::before {
      content: none;
    }
    &--active {
      transform: scale(1);
      opacity: 1;
    }
    .slide__info {
      width: 100%;
      max-width: inherit;
      margin: inherit;
      text-align: center;
      .slide__category {
        color: $dark;
        &::before {
          content: none;
        }
        a {
          margin: 0 auto;
          text-transform: none;
          font-size: 2.4rem;
          font-weight: 500;
        }
      }
      .slide__title {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $warm-grey;
      }
    }
  }
}