body {
  overflow-x: hidden;
}

/** concept page */ 

.video-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80rem;
  background-color: transparent;
}

.video-intro__page-name {
  opacity: 1;
  margin-top: 11.5rem;
  padding: 1.6rem 2rem;
  background-color: $deep-blue;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: $light;
  font-size: 14px;
  font-weight: bold;

  will-change: opacity;
}

.video-intro__title {
  opacity: 1;
  margin-top: 4rem;
  text-align: center;
  line-height: 1.25;
  color: $light;
  font-size: 40px;
  font-weight: 500;

  will-change: opacity;

  @media (min-width: $xs) {
    font-size: 48px;
  }
}

.video-intro__paragraph {
  height: 6.8rem;
  margin-top: 8rem;

  will-change: opacity;
}

.video-intro__page-name,
.video-intro__title,
.video-intro__paragraph,
.video-intro__button {
    position: relative;
    margin-top: 8rem;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 100%;
    background-color: $deep-blue;
    opacity: 1;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    will-change: opacity, background-color;
}

.video-intro__page-name, .video-intro__title, .video-intro__paragraph {
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.video-intro__button:hover {
  cursor: pointer;
  background-color: darken($deep-blue, 10%);
}

.video-intro__button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  transform: translate(-50%, -50%);
}

.video-intro__player video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

.video-intro__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;
  height: 80rem;
  background-position: center;
  background-size: cover;
}

.video-intro__fade-effect {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 80rem;
    background-color: $dark;
    opacity: 0.6;
    z-index: -1;
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
} 

.video-intro__fade-effect.active {
  opacity: 0.2;
  z-index: 10;
  cursor: pointer;
}

/** description-project */

.description-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 14rem 0 14rem 0;
  background-image: linear-gradient(to left, $azure-blue, $deep-blue 50%, $cobalt-blue);
}

.description-project__txt {
  align-self: center;
  width: 60%;
}

.description-project__paragraph {
  margin-top: 6rem;
  color: $light;
  font-size: 20px;
  font-weight: normal;

  @media (min-width: $xs) {
    line-height: 2;
    font-size: 30px;
  }
}

.description-project__title {
  text-align: left;
  line-height: 2;
  letter-spacing: 1.4px;
  color: $jordy-blue;
  font-size: 14px;
  font-weight: bold;
}

/** List sports */

.list-sports {
  width: 100%;
  height: auto;
  padding: 8rem 0 11rem 0;
  background-color: $palegrey;
}

.list-sports__title {
    font-family: Circular;
    font-size: 14px;
    font-weight: 500;
    line-height: 4.29;
    letter-spacing: 1.4px;
    text-align: center;
    color: $warm-grey;
}

.list-sports__text {
    font-family: Circular;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: $dark;
}

.list-sports__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;
  padding: 0 10%;
}

.list-sports__item {
  position: relative;
  margin: 0 0.5rem 1rem 0.5rem;
  cursor: pointer;
}

.list-sports__item img {
  width: 22.4rem;
  max-width: 22.4rem;
  height: 16.8rem;
  max-height: 16.8rem;

  object-fit: cover;
}

.list-sports__item:hover .list-sports__fade {
  opacity: 0.1;
}

.item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  text-align: center;
  color: $light;
}

.list-sports__item:hover .item__fade {
  background-image: linear-gradient(to left, $azure-blue, $deep-blue 50%, $cobalt-blue);
}
.item__fade {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  width: 22.4rem;
  height: 16.8rem;
  margin-top: -0.3rem;
  transform: translate(-50%,-50%);
          transition: all 0.15s ease-in-out;
  background-color: $dark;

  -webkit-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
}

/** sites section */

.sites {
    width: 100%;
    height: auto;
    padding: 8rem 0 5rem 0;
    background-color: $light2;
}

.sites__title {
  height: 10px;
  text-align: center;
  letter-spacing: 1.4px;
  color: $deep-blue;
  font-family: Circular;
  font-size: 14px;
  font-weight: bold;
}

/** Slider section */

.slider-concept {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;

  .slider__controllers {
    .controllers__tiles {
      left: 50%;
      bottom: 5%;
      transform: translate(-50%);
      .tile {
        background: $warm-grey;
      }
      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  .slider__slide {
    opacity: 0.8;
    width: 50%;
    margin-bottom: 50px;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    &::before {
      content: none;
    }
    &--active {
      opacity: 1;
      transform: scale(1);
    }
    .slide__info {
      width: 100%;
      max-width: inherit;
      margin: inherit;
      text-align: center;
      .slide__category {
        display: block;
        color: $dark;
        &::before {
          content: none;
        }
        a {
          margin: 0 auto;
          text-transform: none;
          font-size: 2.4rem;
          font-weight: 500;
        }
      }
      .slide__title {
        margin-bottom: 50px;
        line-height: 1.5;
        color: $warm-grey;
        font-size: 1.4rem;
      }
      .slide__image {
        height: 250px;
        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }
    }
    @media (max-width: $xs) {
      margin-bottom: 0;
    }
  }
}
