.slider {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background: $palegrey;
  position: relative;
}

.slider__controllers {
  .controllers__prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .controllers__next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .controllers__tiles {
    position: absolute;
    left: 15%;
    bottom: 20%;
  }
}

.slider__slides {
  height: 100%;
  display: flex;
  will-change: transform;
  transition: transform .3s ease-in-out;
  
  &.slider__slides--return {
    transition: transform 0s ease-in-out;
  }
  
  .slider__slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $dark;
      opacity: .1;
    }
    
    .slide__info {
      max-width: 70%;
      display: flex;
      flex-direction: column;
      margin: 0 0 15% 15%;
      z-index: 1;
      
      .slide__category {
        color: $light;
      }
      .slide__title {
        color: $light;
        margin: 37px 0px 0px;
      }
      .slide__button {
        color: $light;
        margin: 57px 0px 0px;
        width: 180px;
      }
    }
  }
}

.discover {
  margin: 130px 0;
  .discover__container {
    width: 960px;
    margin: 0 auto;
    padding-top: 70px;
    .discover__title {
      position: relative;
      width: 420px;
      height: auto;
      padding: 0;
      line-height: 42px;
      color: $dark;
      font-family: 'Circular';
      font-size: 42px;
      font-weight: 600;
      &:before {
        position: absolute;
        top: 7px;
        left: -36px;
        width: 6px;
        height: 30px;
        background-color: $deep-blue;
        content: '';
      }
    }
    .discover__text {
      width: 466px;
      margin-top: 80px;
      text-align: justify;
      line-height: 1.5;
      color: $warm-grey;
      font-size: 16px;
    }
    .discover__link {
      display: block;
      margin-top: 56px;
      color: $warm-grey;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.partners {
  height: 200px;
  background: $palegrey;
}
