// News hero

.image-intro {
    position: relative;
    height: 48rem;
    width: 100vw; 
}

.image-intro__title {
    position: absolute;
    top: 18rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    text-align: center;
    color: $light2;
    z-index: 10;
}

.image-intro__overlay,
.image-intro__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.image-intro__background {
    background-image: url(../img/actualites-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.image-intro__overlay {
    background: $dark;
    opacity: 0.65;
    z-index: 2;
}

// Search bar
.image-intro__search {
    z-index: 10;
    position: relative;
    top: 41.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 13rem;
    background: $light;
    font-size: 1.8rem;
}

.image-intro__search .search__input,
.image-intro__search .search__button {
    display: inline-block;
    position: absolute;
    display: flex;
    align-items: center;
}

.search__input {
    font-style: italic;
    height: 100%;
    width: 60vw;
    left: 0;
}

.search__input div {
    margin: auto;
    margin-left: 2.8rem;
}

.search__button {
    right: 0;
    font-weight: 500;
    width: 30vw;
    color: $light;
    height: 100%;
    background: $deep-blue;
    justify-content: center;
    cursor: pointer;
}

// News
.news {
    padding: 8rem 0;
    background: $palegrey;
}

.news__wrapper {
    width: 90vw;
    margin: auto;
}

// news categories

.news__categories {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin: 6.5rem auto;
    width: 65vw;
}

// Articles
.news__articles {
    margin-bottom: 5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

// Article
.articles__article {
    position: relative;
    display: inline-block;
    width: 34.6rem;
    height: 46.6rem;
    background: $light2;
    border-radius: 6px;
    margin-bottom: 5rem;
}

.article__thumbnail {
    height: 17.3rem;
    width: 100%;
    border-radius: 6px 6px 0 0;

    img {
        border-radius: 6px 6px 0 0;
        height: 100%;
        width: 100%; 
        object-fit: cover;
    }
}

.thumbnail__line {
    // position: relative;
    // bottom: 4px;
    height: 4px;
    width: 100%;
    background: $deep-blue;
}

.article__content,
.article__data {
    width: 80%;
    margin: auto;
}

.article__title {
    margin: 4rem 0 2rem 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: $dark;
}

.article__text {
    color: $warm-grey;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.article__data-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.article__line {
    width: 100%;
    height: 2px;
    background: #dedede;
}

.article__data {
    color: $warm-grey;
    font-size: 1.4rem;
    line-height: 3.2rem;
    padding: 2.8rem 0;

    div {
        display: inline-block;
    }
}

.article__data-hastag {
    float: right;
}

// See more button
.news__button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    margin: 3rem auto 0 auto;


    .news__see-more {
        padding: 1.5rem 3rem;
        color: $warm-grey;
        border: 2px solid $pinkish-grey;
        letter-spacing: 1.4px;
    }
}