.story__content.container {
  width: 100%;
}

.story__content.container h1,
.story__content.container p,
.story__content.container small {
  @include responsive($sm) {
    width: 80%;
  }
  width: 90%;
  max-width: 144rem;
  margin: auto;
}

.story__content.container small {
  display: block;
}

.story__hero {
  @include responsive($xs) {
    height: 24rem;
  }
  @include responsive($sm) {
    height: 32rem;
  }
  width: 100vw;
  height: 48rem;
  background-color: $azure-blue;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.story__info {
  @include responsive($xs) {
    font-size: 1.4rem;
  }
  display: flex;
  padding: 5rem 0;
}

.story__category {
  position: relative;
  flex: 1;
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: 600;

  &::before {
    position: absolute;
    top: 0;
    left: -1rem;
    width: 0.5rem;
    height: 100%;
    background-color: $azure-blue;
    content: ' ';
  };
}
.story__main {
  @include responsive($xs) {
    font-size: 1.2rem;
  }
  @include responsive($sm) {
    font-size: 1.4rem;
  }
}

.story__date {
  flex: 1;
  text-align: right;
}

.story__main--heading {
  @include responsive($xs) {
    padding: 0;
  }
  padding: 1.8rem 0 3.2rem 0;
  color: $warm-grey;
  font-size: 1.375em;
}

.story__content {
  p  {
    padding: 1rem 0;
    line-height: 1.5;
    color: $dark;
    font-size: 0.9375em;
  }
}

.story__img {
  @include responsive($sm) {
    width: 80%;
  }
  width: 90%;
  height: calc(100vh / 16 * 9);
  max-height: 47rem;
  margin: 3rem auto;
  background-color: $cobalt-blue;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.story__caption {
  @include responsive($xs) {
    font-size: 1.2rem;
  }
  @include responsive($sm) {
    font-size: 1.4rem;
  }
  width: 100%;
  margin: 6rem 0;
  padding: 8rem 0;
  background: $blue-gradient;

  h3 {
    padding-bottom: 4rem;
    letter-spacing: 1.4px;
    color: #fefefe66;
    font-size: 0.875em;
  }

  blockquote {
    @include responsive($xs) {
      line-height: 1.4;
    }
    position: relative;
    line-height: 2.0;
    color: $light;
    font-size: 1.875em;

    &::before {
      position: absolute;
      left: -3%;
      line-height: 1;
      content: '“';
    }
  }
}

// Tags

.story__tags {
  margin: 6rem 0;
}

.tags__container {
  display: flex;
  align-items: center;

  .tags {
    margin-right: 3rem;
  }

  .tags__buttons {
    display: flex;

    .btn__tag {
      margin: 0 1rem;
    }
  }
}
