/** vision page */

/** description-vision */

.description-vision {
  background: $palegrey;
}

.description-vision__txt {
  max-width: 960px;
  margin: 0 auto;

  .txt__title {
    padding: 10rem 0 5rem 0;
    text-align: center;
    color: $dark;
    font-size: 2.6rem;
    font-weight: bold;
  }

  .txt__paragraph {
    position: relative;
    padding: 0 15%;
    text-align: center;
    line-height: 1.5;
    color: $warm-grey;
    font-size: 1.4rem;

    &::after {
      position: absolute;
      bottom: -100%;
      left: calc(50% - 10%);
      display: block;
      width: 20%;
      height: 2px;
      transform: (-50%, 0);
      background: $deep-blue;
      content: '';
    }
  }
}

.description-vision__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  padding: 8rem 0;

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6rem 3rem;
    border-radius: 6px;
    box-shadow: 0 0 38.3px 6.8px rgba(0, 0, 0, 0.1);
    background-color: $light;
    text-align: center;

    img {
      width: 8rem;
      height: 8rem;
      margin: 0 auto;
    }
  }

  .cards__number {
    margin: 4rem 0;
    color: $deep-blue;
    font-size: 2.4em;
    font-weight: bold;
  }

  .cards__txt {
    color: $warm-grey;
    font-size: 1.4rem;
  }
}

.vision-athlete {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(to left, $azure-blue, $deep-blue 50%, $cobalt-blue);
}

.vision-athlete__container {
  display: flex;
  align-items: center;
  max-width: 960px;
  padding: 0 20px;
  .vision-athlete__txt {
    flex: 1;
    padding-left: 50px;
  }
  .container__img {
    flex: 1;
    padding: 20px 20px 0 20px;
    font-size: 0;
  }
  @media (max-width: $sm) {
    flex-direction: column;
    padding: 0 15%;
    .vision-athlete__txt {
      order: 0;
      padding: 80px 0;
    }
    .container__img {
      order: 1;
    }
  }
}

.vision-athlete__img {
  width: 100%;
}

.vision-athlete__caption {
  margin-top: 40px;
  line-height: 2;
  color: $light;
  font-size: 3.4rem;
}

.vision-athlete__name {
  text-align: left;
  line-height: 4.29;
  letter-spacing: 1.4px;
  color: $jordy-blue;
  font-size: 1.4rem;
  font-weight: bold;
}

.vision-athlete__button {
  display: block;
  width: 150px;
  margin-top: 60px;
}
