 html {
  font-size: 62.5%;
}

body  {
  @include responsive($xs) {
    font-size: 1.4rem;
  }
  font-size: 1.6rem;
  margin-top: 100px;
}

.clear {
  clear: both;
}

.container {
  @include responsive($sm) {
    width: 80%;
  }
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
}

.page-card {
  display: inline-block;
  padding: 1.6rem 2rem;
  background-color: $deep-blue;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: $light;
  font-size: 14px;
  font-weight: bold;
}

.hero__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#wptime-plugin-preloader {
  height: calc(100% + 20px) !important;
  animation: bounce 0.7s ease infinite;
}

@keyframes bounce{
     from {transform: translate(0, -20px);}
     50%  {transform: translate(0, 0);}
     to   {transform: translate(0, -20px);}
}