// Button core
.btn__main {
  padding: 1.6rem 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 38.2px 6.8px rgba(0,0,0,0.2);
}

.btn__main--blue {
  background-color: $deep-blue;
}

.btn__main--white {
  background-color: $light;
}

// Button text
.btn__text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-size: 1rem;
  font-weight: 600;
}

.btn__text--white {
  color: $light;
}

.btn__text--blue {
  color: $deep-blue;
}
