.btn--blue {
  padding: 1.6rem 2rem;
  border-radius: 0.6rem;
  background-color: $deep-blue;
  box-shadow: 0 0 38.2px 6.8px $palegrey;
}
.btn__text--white {
  color: $light;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.12rem;
  font-weight: 600;
}