@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/#{$file-path}.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face(Circular, circular-book, 400, normal);
@include font-face(Circular, circular-medium, 500, normal);
@include font-face(Circular, circular-bold, 600, normal);

body {
  font-family: Circular;
  color: $warm-grey;
  line-height: 1.4;
  font-weight: 400;
}

h1, h2, .link {
  font-weight: 500;
  color: $dark;
}
h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3rem;
  margin: 1.4rem 0;
  position: relative;
  padding: 0 3rem;

  &::before {
    content: "";
    height: 4.2rem;
    width: 0.5rem;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: $azure-blue;
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: normal;
  text-transform: uppercase;
}

h4 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  color: $deep-blue;
  padding-bottom: 4rem;
}

.link {
  font-size: 1.4rem;
  color: $warm-grey;
}