@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;

    src: url('../fonts/#{$file-path}.ttf') format('truetype');
  }
}

@include font-face(Circular, circular-book, 400, normal);
@include font-face(Circular, circular-medium, 500, normal);
@include font-face(Circular, circular-bold, 600, normal);

body {
  line-height: 1.4;
  color: $warm-grey;
  font-family: Circular;
  font-weight: 400;
}

h1,
h2,
.link {
  color: $dark;
  font-weight: 500;
}
h1 {
  font-size: 4.8rem;
}

h2 {
  position: relative;
  margin: 1.4rem 0;
  padding: 0 3rem;
  font-size: 3rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 4.2rem;
    background-color: $azure-blue;
    content: '';
  }
}

h3 {
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 1.2px;
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  padding-bottom: 4rem;
  line-height: 1.2;
  color: $deep-blue;
  font-size: 3rem;
  font-weight: 500;
}

.link {
  color: $warm-grey;
  font-size: 1.4rem;
}

.mainTitle {
  padding-bottom: 2rem;
  line-height: 0.75;
  color: $dark;
  font-size: 4.8rem;
  font-weight: bold;
}
