// Grey colors
$palegrey: #ebeef1;
$pinkish-grey: #c8c8c8;
$warm-grey: #8c8c8c;

// Blue palette
$azure-blue: #04a3ec;
$deep-blue: #1875f0;
$cobalt-blue: #1a4894;
$jordy-blue: #75acf5;

// Basics
$dark: #000000;
$light: #ffffff;
$light2: #fefefe;

// Gradient
$blue-gradient: linear-gradient(to left, #04a3ec, #1875f0 50%, #1a4894);

// Shadow
$main-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.15);

// Breakpoints
$xs: 520px;
$sm: 780px;
$md: 960px;
$lg: 1080px;
$xl: 1400px;
